@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #d5eb34;
}

.svg-icon circle {
  stroke: #d5eb34;
  stroke-width: 1;
}
